{
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 4,
                "singleQuote": true
            }
        ],
        # Disable prop type checking since code base is in a too bad
        # condition for this to be viable to refactor
        "react/prop-types": 0
    },
    "plugins": ["prettier", "react"],
    "globals": {
        "localStorage": true,
        "Promise": true,
        "config": true
    }
}
